; #########################################################################
; Please use config.yaml.example instead
; File is kept for backward compatability and will eventually be phased out 
; #########################################################################

; Instructions: 
; Rename this file to config.ini and update the variables. 
; config.ini is not tracked in git.


[vars]

; arbitrary name for your deployment, must follow CFT naming conventions
; limited to 20 characters
; ex. deployment_name=example-1
deployment_name=example-1

; aws/ec2 region where you want to deploy
; ex. region=us-east-1
region=<name of AWS region>

; admin password
; ex. admin_password='GoF5!'
admin_password=<admin_password>

; Big-IP Management Gui Port
; ex. bigip_management_gui_port=8443
bigip_management_gui_port=

; the name of your ssh key pair in ec2, don't include the .pem
; ex. key_pair=my-key-pair.pem
key_pair=<ec2 key pair>

; access credentials to install on bigip
; ex. iam_access_key=A....Q
; ex. iam_secret_key=Os....ASJD22
iam_access_key=<access key>
iam_secret_key=<secret key>

; license key for your byol bigip
; ex. bigip_license_key=CPOIB-VGPHS-BCHOD-JXBYE-XWKWMUO
bigip_license_key=<license key>

; 3 availability zones
; azs=<availability zone 1>,<availability zone 2>,<availability zone 3>
; ex. azs=us-east-1b,us-east-1c,us-west-1d
azs=<availabilty zones>


; ssl certificate URL (used in DNS based deployments ). 
; Otherwise, the system default cert will be used
; cert_url=https://s3.aws.com/examplebucket/f5example-cert.pfx
cert_url=default

; ssl certificate id ( used in ELB deployments )
; cert_id=arn:aws:iam::111111111111:server-certificate/f5example-cert
cert_id=<certificate id>

; Scale Up Bytes Threshold
; ex. scale_up_bytes_threshold=35000
scale_up_bytes_threshold=35000

; Scale Down Bytes Threshold
; ex. scale_down_bytes_threshold=35000
scale_down_bytes_threshold=<bytes>

; email for autoscaling events
; ex. email=user@example.com
email=<email>

; 'true' if you want to deploy a host with jmeter installed for testing, else 'false'
deploy_jmeter_host=false
