# Instructions: 
# Rename this file to config.yaml and update the variables. 
# config.yaml is not tracked in git.

# REQUIRED
# aws/ec2 region where you want to deploy
# ex. region: us-east-1
region: <name of AWS region>

# REQUIRED
# arbitrary name for your deployment, must follow CFT naming conventions
# MaxLength = 20 characters
# ex. deploymentName: example-1
deploymentName: example-1

# REQUIRED
# BIG-IP username &  password
# ex. adminUsername: joe
# ex. adminPassword: GoF5!
adminUsername: <admin_username>
adminPassword: <admin_password>

# REQUIRED
# the name of your ssh key pair in ec2 as seen in the console, don't include the .pem
# ex. sshKey:  my-key-pair
sshKey: <ec2 ssh key pair>

# REQUIRED
# your access credentials
# ex. iamAccessKey: A....Q
# ex. iamSecretKey: Os....ASJD22
iamAccessKey: <aws access key>
iamSecretKey: <aws secret key>

# REQUIRED
# 2 availability zones required
# NOTE: most regions only support 2 AZs so example VPC (deployed in common.template) only has 2 AZs
# availabilityZones: <availability zone 1>,<availability zone 2>
# ex. availabilityZones: us-east-1b,us-east-1c
availabilityZones: <availabilty zones>

# OPTIONAL: Defaults to 8443
# Big-IP Management Gui Port
# ex. managementGuiPort: "8443"
managementGuiPort: "8443"

# OPTIONAL (Only for deployments w/ BYOL)
# license key for your byol bigip
# ex. licenseKey1: CPOIB-VGPHS-BCGGD-JXBYE-XWKWMUO
licenseKey1: <license key>

# OPTIONAL (in "SSL-" based deployments)
# pfx ssl certificate URL 
# Otherwise, the system default cert will be used
# certificateUrl: https://s3.amazonaws.com/yourbucket/website.pfx
certificateUrl: default

# OPTIONAL (in some sandwich deployments)
# ssl certificate id used if ELB terminating SSL
# ex. certificateId: arn:aws:iam::111111111111:server-certificate/f5example-cert
certificateId: <certificate id>

# OPTIONAL Throughput
# Dictates size of utility instances (25Mbps, 200Mbps, 1000Mbps)
# ex. throughput: "1000Mbps" 
throughput: "1000Mbps" 

# OPTIONAL (Default is set artificially low for testing. Recommended to adjust as ratio to utility size)
# ex. 80% of Throughput
# Scale Up Bytes Threshold = 
# 25 Mbps   = 3276800 bytes   * .80 =   2621440
# 200 Mbps  = 26214400 bytes  * .80 =  20971520
# 1000 Mbps = 131072000 bytes * .80 = 104857600
# 5000 Mbps = 655360000 bytes * .80 = 524288000
# ex. scaleUpBytesThreshold: "35000"
scaleUpBytesThreshold: "35000"


# OPTIONAL (Default  is for testing. Recommended Adjust to Uitlity Size)
# Scale Down Bytes Threshold
# ex. ScaleDownBytesThreshold: "10000"
scaleDownBytesThreshold: "10000"

# OPTIONAL (but highly recommended) 
# email for autoscaling events
notificationEmail: user@example.com

# OPTIONAL 
# 'true' if you want to deploy a host with jmeter installed for testing, else 'false'
deploy_jmeter_host: true
